* {
  box-sizing: border-box;
}

:root {
  --primary-black: #152427;
  --primary-dark-green: #143c3c;
  --secondary-light-grey: #6a8383;
  --secondary-light-green: #e2eddf;
  --text-dark-grey: #575d5e;
  --text-light-grey: #7d8188;
}

body {
  font-family: "Poppins", sans-serif;
  height: 7000px;
}

/* Common */
a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

button {
  background: none;
  border: none;
}

.btn {
  --height: 57px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 173px;
  height: var(--height);
  padding: 0 20px;
  background: var(--primary-dark-green, #143c3c);
  border-radius: 40px;
  font-size: 1.125rem;
  font-weight: 500;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.container {
  max-width: 1140px;
  margin-inline: auto;
  width: calc(100% - 48px);
}

.section-label {
  position: relative;
  padding-left: 46px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.63;
  color: var(--primary-black, #152427);
}

.section-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  display: block;
  width: 25px;
  height: 1px;
  background: currentColor;
  line-height: 1.625rem;
}

.section-heading {
  max-width: 520px;
  color: var(--primary-black, #152427);
  font-size: 2.625rem;
  font-weight: 600;
  line-height: 1.24; /* 123.81% */
}

.heading-w-dash {
  position: relative;
}

.heading-w-dash::after {
  content: "";
  display: inline-block;
  width: 66px;
  height: 2px;
  margin-left: 16px;
  background: currentColor;
  transform: translateY(-9px);
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.decor-star,
.decor-curve,
.decor-curve-project {
  position: absolute;
  display: block;
  object-fit: cover;
}

.decor-star {
  width: 72px;
}

.decor-curve {
  width: 541px;
}

/* Header */
.header.sticky {
  position: sticky;
  top: -15px;
  z-index: 2;
  background-color: #fff;
}

.header-inner {
  position: relative;
  display: flex;
  padding: 28px 0 13px;
  align-items: center;
  justify-content: space-between;
  font-family: "Public Sans";
}

.header-inner::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}

.header .inner-right {
  display: flex;
  align-items: center;
}

.header .nav {
  display: flex;
  align-items: center;
}

.header .nav-list {
  display: flex;
}

.header .nav-link {
  position: relative;
  display: inline-block;
  padding: 8px 19px;
  color: var(--text-dark-grey);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.56;
}

.header .nav-link.active {
  color: var(--primary-black);
}

.header .nav-link::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 21px;
  bottom: -20px;
  opacity: 0;
  width: 16px;
  height: 2px;
  background: var(--primary-dark-green);
  transition: 0.25s;
}

.header .nav-link.active::after,
.header .nav-link:hover::after {
  opacity: 1;
}

.header .sign-up-btn {
  margin-left: 69px;
  border: 1.5px solid var(--primary-dark-green);
}

/* Hero */
.hero .inner::before,
.hero .inner::after {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  width: 518px;
  height: 330px;
  pointer-events: none;
}

.hero .inner::before {
  top: 28px;
  left: 254px;
  background: url(../img/decor-string.png) center / contain no-repeat;
}

.hero .inner::after {
  bottom: 0px;
  right: 34px;
  background: url(../img/decor-string.png) center / contain no-repeat;
  rotate: 174deg;
}

.hero .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 98px);
  font-family: "Public Sans";
}

.hero .content {
  max-width: 393px;
}

.hero .heading {
  max-width: 368px;
  font-size: 3.125rem;
  font-weight: 800;
  line-height: 1.2;
  color: var(--primary-black, #152427);
}

.hero .desc {
  max-width: 341px;
  margin-top: 20px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.56; /* 155.556% */
  color: var(--text-dark-grey, #575d5e);
}

.hero .actions {
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 43px;
}

.hero .watch-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .btn-wrap {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  background: #83a17d;
  border-radius: 50%;
}

.hero .watch-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.hero .watch-btn:hover .btn-wrap::before {
  rotate: 180deg;
}

.hero .btn-wrap::before {
  content: "";
  position: absolute;
  width: 59px;
  height: 59px;
  background: url("../icons/ellipse.svg") 0px / contain no-repeat;
  transition: 0.5s;
}

.hero .btn-wrap .icon {
  color: #fef6fb;
}

.hero .watch-text {
  margin-left: 15px;
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--primary-black);
}

.hero .media {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  max-width: 671px;
  height: 543px;
  padding-right: 25px;
}

.hero .media::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 340px;
  height: 340px;
  margin: auto;
  border-radius: 50%;
  background: #4dbb9a;
  filter: blur(137px);
}

.hero .media-img {
  display: block;
  width: 202px;
  height: 466px;
  object-fit: cover;
  border-radius: 110px;
}

.hero .media-img:nth-child(even) {
  align-self: flex-end;
}

/* Clients */
.clients {
  margin-top: 42px;
}

.clients .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 210px;
  padding: 0 122px;
  background: var(--secondary-light-green);
  border-radius: 999px;
}

.clients .client {
  display: block;
  max-width: 144px;
  height: auto;
}

.clients .client-agworld {
  display: flex;
  align-items: center;
  column-gap: 11px;
}

/* Service */
.service {
  margin-top: 106px;
}

.service .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 12px;
}

.service .controls {
  display: flex;
  column-gap: 17px;
  padding: 0 72px 9px 0;
}

.service .service-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: var(--secondary-light-green);
  color: var(--primary-black);
}

.service .service-btn:hover {
  background: var(--primary-dark-green);
  color: #fff;
  cursor: pointer;
  opacity: 0.9;
}

.service .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  justify-content: space-between;
  margin-top: 76px;
}

.service .item {
  border-radius: 20px;
  overflow: hidden;
  transition: 0.25s;
}

.service .item:hover {
  background: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service .item .thumb {
  display: block;
  width: 100%;
  height: 318px;
  object-fit: cover;
  transition: 0.25s;
}

.service .item:hover .thumb {
  transform: scale(1.1);
}

.service .item-body {
  padding: 24px 36px 24px 0;
  transition: 0.25s;
}

.service .item:hover .item-body {
  padding-inline: 18px;
}

.service .item-heading {
  font-size: 1.375rem;
  font-weight: 600;
  color: var(--primary-black, #152427);
}

.service .item-desc {
  max-width: 268px;
  margin-top: 18px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.72;
  color: var(--text-light-grey, #7d8188);
}

/* About */
.about {
  margin-top: 149px;
}

.about .inner {
  display: flex;
  justify-content: space-between;
}

.about .media {
  position: relative;
  display: flex;
  justify-content: space-between;

  flex-shrink: 0;
  width: 52.6%;
  padding-right: 9px;
}

.about .media::before {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  top: -6px;
  left: 6px;
  width: 518px;
  height: 330px;
  background: url(../img/decor-string.png) center / contain no-repeat;
  rotate: 12.645deg;
  pointer-events: none;
}

.about .about-img {
  display: block;
  width: 284px;
  height: 480px;
  margin-top: auto;
  object-fit: cover;
  border-radius: 999px;
  box-shadow: 0 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about .about-img:nth-child(2) {
  margin: 13px 0 77px;
}

.about .content {
  max-width: 483px;
  margin-left: auto;
}

.about .card {
  position: absolute;
  right: 0;
  bottom: 8px;
  width: 143px;
  padding: 20px 23px 12px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 7px 54px 0 rgba(154, 154, 154, 0.25);
  font-family: "Public Sans", sans-serif;
}

.about .card-heading {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--primary-black, #152427);
}

.about .card-label {
  margin-top: 6px;
  font-size: 0.625rem;
  line-height: 1.4;
  color: var(--text-dark-grey);
  opacity: 0.4;
}

.about .card-progress {
  margin-top: 5px;
}

.about .card-progress .percentage,
.about .card-progress .status {
  position: relative;
  display: block;
  padding: 5px 0;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.4;
  color: var(--primary-black, #152427);
}

.about .card-progress .status {
  padding: 3px 0;
  text-align: right;
}

.about .card-progress .percentage::before,
.about .card-progress .percentage::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 2px;
  border-radius: 10px;
}

.about .card-progress .percentage::before {
  width: 100%;
  background: #eaeaea;
}

.about .card-progress .percentage::after {
  width: 40%;
  background: #83a17d;
}

.about .card-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: -5px;
  padding-top: 16px;
}

.about .card-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 11px;
  height: 11px;
  background: radial-gradient(circle, #143c3c 2.5px, #eaeaea 2.5px);
  border-radius: 50%;
}

.about .card-footer span {
  color: var(--primary-black, #152427);
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.4;
}

.about .team-members {
  display: flex;
}

.about .card .avatar {
  display: block;
  width: 16px;
  height: 16px;
  object-fit: cover;
  border: 1px solid #fff;
  border-radius: 50%;
}

.about .card .avatar + .avatar {
  margin-left: -6px;
}

.about .section-heading {
  margin-top: 20px;
}

.about .desc {
  margin-top: 11px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
  color: var(--text-light-grey, #7d8188);
}

.about .stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 36px 0 2px;
  padding-bottom: 20px;
  border-bottom: solid 1px #83a17d;
}

.about .stat-number {
  font-size: 2.625rem;
  font-weight: 600;
  line-height: 1.24;
  color: var(--primary-black, #152427);
}

.about .stat-text {
  max-width: 372px;
  padding-right: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.72;
  color: var(--text-light-grey, #7d8188);
}

/* Progress */
.progress {
  margin-top: 115px;
}

.progress .section-heading {
  margin-top: 20px;
}

.progress .list {
  margin-top: 81px;
}

.progress .item {
  position: relative;
  display: grid;
  grid-template-columns: max-content 0.6fr 1fr;
  column-gap: 50px;
  padding: 46px 20px 24px;
}

.progress .item::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    180deg,
    #83a17d 4.17%,
    rgba(131, 161, 125, 0) 36.46%
  );
}

.progress .item-1 {
  padding: 54px 30px;
  background: var(--secondary-light-green);
  border-radius: 33px;
}

.progress .item-1::after {
  display: none;
}

.progress .progress-img {
  position: absolute;
  right: 92px;
  bottom: 0;
  display: block;
  width: 450px;
  height: 450px;
  object-fit: cover;
}

.progress .item-number {
  font-size: 4.5rem;
  font-weight: 600;
  color: var(--primary-dark-green, #143c3c);
}

.progress .item-heading {
  color: var(--primary-black, #152427);
  margin-top: 22px;
  font-size: 1.375rem;
  font-weight: 600;
}

.progress .item-desc {
  padding-right: 20px;
  font-family: "Public Sans";
  font-size: 1.125rem;
  line-height: 1.56;
  color: var(--text-light-grey, #7d8188);
}

.progress .item-link {
  display: inline-block;
  padding: 22px 16px 0 3px;
  font-size: 1.125rem;
  color: var(--text-dark-grey, #575d5e);
  text-decoration: underline;
}

/* Project */
.project {
  position: relative;
  margin-top: 148px;
  padding: 116px 0 63px;
  background: var(--primary-dark-green);
}

.project .row {
  display: flex;
}

.project .heading-w-dash {
  color: #e7f9f9;
}

.project .content-right {
  max-width: 590px;
  font-family: "Public Sans";
}

.project .desc {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.56;
  color: var(--secondary-light-grey, #6a8383);
}

.project .browse {
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.project .browse span {
  font-size: 1.125rem;
  line-height: 1.56;
  color: #fff;
}

.project .browse-link {
  display: block;
  padding: 0 16px;
  margin-left: 10px;
  color: #80a07b;
}

.project .media {
  position: relative;
  border-radius: 22px;
  margin-top: 65px;
  overflow: hidden;
}

.project .media:has(.play:hover) .thumb {
  transform: scale(1.07);
}

.project .play:hover {
  opacity: 0.8;
}

.project .thumb {
  display: block;
  width: 100%;
  aspect-ratio: 1140 / 544;
  object-fit: cover;
  transition: 0.3s;
}

.project .play {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 118px;
  height: 118px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: 0.3s;
}

.project .decor-star {
  top: 220px;
  right: 81px;
}

.project .decor-curve-project {
  top: 137px;
  right: 56px;
  rotate: -10deg;
}

/* Feature */
.feature {
  margin-top: 140px;
  text-align: center;
}

.feature .section-heading {
  margin-inline: auto;
}

.feature .feature-desc {
  max-width: 547px;
  margin: 20px auto 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
  color: var(--text-light-grey, #7d8188);
}

.feature .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 45px;
  margin-top: 103px;
}

.feature .item {
  border-radius: 160px;
  border: 1.5px solid #cecece;
  padding: 80px 40px;
  background: #fff;
  transition: 0.3s;
}

.feature .item:hover {
  border-color: transparent;
  box-shadow: 0 36px 100px 0 rgba(111, 120, 111, 0.2);
  transform: translateY(-59px);
}

.feature .item-icon {
  display: block;
  object-fit: contain;
  margin-inline: auto;
}

.feature .item-heading {
  margin-top: 23px;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-black);
}

.feature .item-desc {
  margin-top: 12px;
  font-size: 0.875rem;
  line-height: 1.72;
  color: var(--text-light-grey, #7d8188);
}
